@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/* @import "./styles/user/admin.scss";  */
@import "./styles/_app.scss";


body {
    margin: 0; 
    padding: 0; 
    color: black; 
    font-family: 'Comfortaa', sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}
a{
    text-decoration: none;
    color: black; 
}
ul {
    list-style: none;
}
button {
    border: none; 
    outline: none; 
    cursor: pointer;
}
input{
    outline: none;
}